* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   }

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-picture {
    border-radius: 50%;
    width: 300px;
    height: auto;
}


.profile-page-header {
    font-size: 100px;
    color: #f1f1f1;
}