.add-product-form {
    padding: 20px;
    margin: 0 auto 0 auto;
    width: 40%;
    min-width: 80%;
    border: 3px solid #f1f1f1;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 15px;
  }

.upload-picture {
  width: 50%;
  float: left;
}

.upload-product {
  display: flex;
  flex-direction: column;
  width: 50%;
  float:right;
}

.form-header-picture {
  padding: 30px 0px 5px 0px;
}

.form-headers {
  padding: 30px 0px 10px 0px;
  text-align: center;
  font-size: 20px;
  font-family: inherit;
}

.dropdown-select {
  width: 50px;

}

.add-title, .add-price {
  margin: 0px auto 0px auto;
  width: 70%;
  padding: 15px 15px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid rgb(165, 163, 163);
  box-sizing: border-box;
  font-size: 18px;
}

.var-box-size {
  min-width: 100%;
  text-align: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.add-description {
  margin: 0px auto 0px auto;
  width: 70%;
  padding: 15px 15px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid rgb(165, 163, 163);
  box-sizing: border-box;
  font-size: 18px;
}

.currency-icon {
  position: relative;
  text-align: center;
}

.currency-icon > i {
  position: absolute;
  display: block;
  transform: translate(220%, -75%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.image {
  width: 100%;
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
  margin: 50px auto 50px auto;
  padding: 15px 15px;
  width: 20%;

  border-radius: 50px;
  background-color: white;
  border: 1px solid rgb(165, 163, 163);
  font-family: inherit;
}

.submit-button:hover {
  color: white;
  background-color: #417eda;
  cursor: pointer;
}

.drop-condition-container {
  display: flex;
  flex-direction: row;
}

.drop-condition {
  margin-left: auto;
  margin-right: 1%;
  text-align: center;
  width: 34%;
  float: left
}

.drop-type {
  margin-left: 1%;
  margin-right: auto;
  text-align: center;
  width: 34%;
  float:right
}