.profile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-name {
    margin-top: 20px;
}

.add-funds:hover {
    color: white;
    border: none;
    background-color: #417eda;
    cursor: pointer;
}