.profile-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-name {
    margin-top: 20px;
}

.balance-header {
    padding-top: 15px;
    padding-bottom: 15px;
}

.add-funds {
    font-size: 14px;
    width: 8%;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    font-family: inherit;
}

.add-funds:hover {
    color: white;
    border: none;
    background-color: #417eda;
    cursor: pointer;
}