.home-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.home-page-header {
    font-size: 45px;
    color: #f1f1f1;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

