.product-card {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 30px;
    background: #ffffff;
    box-shadow:  34px 34px 69px #dedede,
                    -34px -34px 69px #ffffff;  
}

.product-card > img {
    width: 300px;
    padding-left: 10%;
    height: auto;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
}

.name_price {
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
}

.product-name {
    font-size: 16px;
    margin: 0;
}

.price, .condition, .size {
    padding-left: 10%;
    color: grey;
    margin: 0;
}

.condition, .size {
    font-size: 14px;
}

.add-to-cart {
    float: right;
    width: 50%;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    font-family: inherit;
}

.add-to-cart:hover {
    color: white;
    border: none;
    background-color: #417eda;
    cursor: pointer;
}

.like {
    width: 20%;
    height: 50;
    background-color: white;
    border: 1px solid black;
    font-family: inherit;
}

label {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: black;
   }
   
input {
    display: none;
}  
   
input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
} 
   
   

   


