.product-card-cart {
    height: 250px;
    width: auto;
    display: flex;
    flex-direction: row;

    background-color: white;
    box-shadow: rgba(224, 224, 230, 0.644) 0px 7px 29px 0px; 
    border-radius: 10px;

    padding: 10px 0px 10px 0px;
    margin-bottom: 15px;

    transition: .4s;
}
.product-card-cart:hover {
    transform: scale(1.01);
    transition: .4s;
}

/* .product-card-cart > img {
    width: 250px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    padding-left: 15px;
} */

.image-cart-product-container {
    margin-left: 20px;
    width: 100%;
    max-width: 275px;
}

.image-cart-product {
    height: 200px !important;
    width: auto;
}


.description-product-card-cart {
    width: 50%;
    /* padding-left: 0px; */
    padding-top: 10px;
}

.name-product-card-cart {
    color: black;
    font-size: 22px;
    padding-left: 5%;
}

.size-product-card-cart, .condition-product-card-cart {
    color: grey;
    font-size: 18px;
    padding-left: 5%;
}

.price-quant-product-card-cart {
    margin-left: auto;
    padding-top: 10px;
    padding-right: 20px;
}

.price-product-card-cart {
    font-size: 22px;
    color: black;
}

.quant-product-card-cart {
    font-size: 18px;
    color: grey;
}
/* .condition {
    font-size: 14px;
}  */