.Tabs {
    width: 80%;
    height: auto;
    min-height: 400px;
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: rgb(0, 0, 0);
    border-radius: 2rem;
}

ul.nav {
    width: 80%;
    margin: 0 auto 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #1a8fce;
    border-radius: 2rem;
    padding-left: 0px;
}

ul.nav li {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
}

ul.nav li:nth-child(2) {
    border-radius: 0;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

ul.nav li:hover {
    background: rgba(96, 192, 216, 0.15);
}

ul.nav li.active {
    background: #60b4e2;
    color: white
}
  