.auth-form {
  padding: 20px;
  margin: 0 auto 0 auto;
  width: 40%;
  min-width: 350px;
  border: 3px solid #f1f1f1;
  background-color: rgba(255, 255, 255, 0.726);
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-headers {
  padding: 10px 0px 10px 20px;
  text-align: center;
  margin-top: 20px;

  font-size: 20px;
  font-family: inherit;
}


.register-username, .register-email, .register-password {
  margin: 5px auto 20px auto;
  width: 50%;
  padding: 15px 15px;
  border-radius: 10px;
  display: inline-block;
  border: 1px solid rgb(165, 163, 163);
  box-sizing: border-box;
  font-size: 18px;
}

.submit-button {
  margin-left: auto;
  margin-right: auto;
  margin: 50px auto 50px auto;
  padding: 15px 15px;
  width: 20%;

  border-radius: 50px;
  background-color: white;
  border: 1px solid rgb(165, 163, 163);
  font-family: inherit;
}

.submit-button:hover {
  color: white;
  background-color: #417eda;
  cursor: pointer;
}

.no-account {
  padding: 20px 0 50px 0;
  text-align: center;
}

.link-btn-text {
  color: rgb(27, 27, 27);
  font-size: 16px;
  font-weight: 300;
  display: inline;
}

.link-btn-register {
  color: #417eda;
  display: inline;
  font-size: 16px;
  font-weight: 300;
}

.link-btn-register:hover {
  text-decoration: underline;
  cursor: pointer;
}
